* {
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    text-decoration: none;
    outline: 0;
}

a,
a:visited {
    color: inherit;
}

html {
    background-color: #f6fff8;

}

nav {
    border-bottom: 1px #4877560d solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
    color: rgb(87, 87, 87);
    background-color: #f6fff8;
}

.svg-mail {
    padding: 7px;
    transition: .2s;
}

.svg-mail:hover {
    background-color: #4877561e;
    border-radius: 20%;


    fill: black
}

.titlePage {
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;

}

nav ul li {

    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.5em;
    ;
}

nav div {
    background-color: #a6c1ae;
    border-radius: 50%;
    padding: 10px;
    color: white;
    transition: .3s;
}

nav div:hover {
    background-color: #487756
}

nav ul li:hover {
    color: #000000;
    transition: .2s
}

.btn {
    padding: 10px 25px;
    color: white;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: transform .2s;
    font-weight: bold;
    width: auto;
}

a.btn {
    color: white;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #487756
}

.whoAmIArticle {
    width: 100%;
    padding-top: 20vh;
    height: 100vh;
    align-items: center;
}


.article-about-me {
    width: 100%;
    padding-top: 30vh;
    height: 100vh;
    align-items: center;
}



.div-section-text-education {
    display: inline-block;
    width: 50%;

    ;
}

.div-section-text-experience {
    display: inline-block;
    width: 50%;

    padding-left: 1em;
}

.div-section-text-experience.right {
    border-left: rgba(0, 0, 0, 0.263) solid 2px;
}

.my-experience-article {
    width: 100%;

    display: grid;
}

.my-experience-section {
    margin-left: 10%;
    width: 80%;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
    transition: transform .2s;
    font-size: 2em;
    height: auto;
    display: inline-block;
    background-color: #4877564a;
}


.text-title-color-primary {

    color: #a6c1ae
}


.text-color-primary {

    color: #a6c1ae;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.background-color-primary {
    background-color: #a6c1ae
}

.p-home-description {
    color: #487756;
}

/*
configure section CSS
*/

.who-am-i-section {
    margin-left: 20%;
    width: 60%;
    text-align: center;
    /*border: 2px solid black;
    border-radius: 30px;*/

    padding-top: 1em;
    padding-bottom: 1em;
    transition: transform .2s;
    font-size: 2em;
    height: auto;
    display: inline-block;
}


/*.who-am-i-section:hover {
 transform: scale(1.05);
}*/
.h2-home {
    display: inline-block;
    width: 100%;
}

.div-section-text {
    max-width: 60%;
    height: auto;
    display: inline-block;
    margin-top: 1em;

}

.div-section-image {
    max-width: 40%;
    display: inline-block;
    padding-left: 1em;

}

.left {
    float: left;
}






.whoAmISectionH2 {
    font-size: 1.2em;
    width: 100%;
    font-weight: bold;
}

.whoAmISectionH1 {
    font-size: 1.2em;
    font-weight: bold;
}


.div-section-text-home {

    width: 100%;
    font-size: 1.2em;

}

.span-h1 {
    font-size: 3em;
    display: inline-block;

}

.item-block {
    width: 10%;
    display: block;
    margin-left: 45%;
    text-align: center;

}

.img-home {

    width: auto;
    height: 7em;
    border-radius: 50%;
    display: inline-block;
}

.svg-nav-a {
    height: 2em;

    list-style-type: none;
    display: inline-block;

    font-weight: bold;
    text-transform: capitalize;
}

.svg-nav {
    margin-top: 10px;
    font-size: 1em;
    ;


}

.svg-linkedin {
    padding: 7px;
}

.svg-linkedin:hover {
    background-color: #4877561e;
    border-radius: 20%;

}

.svg-mail:hover path {
    fill: black
}


.li-experience {
    padding-left: 1em;
    padding-right: 1em;
    list-style: circle;
    margin-left: 1em;

}

.experience-title {
    padding-bottom: 0px;
    height: 1em;
    font-size: .7em;
    font-weight: bold;
    line-height: 90%;
    color: rgb(87, 87, 87);
    ;

}

.subtitle-experience {
    display: inline-block;
    font-size: .5em;
    line-height: 10px;

    height: 10px;
}

.title-experience {
    width: 100%;
    display: inline-block;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.5em;
    color: rgb(87, 87, 87);
}

.experience-description {

    font-size: .7em;
}


.img-experience {
    width: 10%;
    height: auto;
    display: inline-block;
    background-color: #00000021;
    padding: 10px;
    border-radius: 20%;
}

.education-information {
    padding-left: 1em;
    width: 90%;
    display: inline-block;
}

.width100 {
    display: inline-block;
    width: 100%;
}

.education-description {
    font-size: .5em;
    display: inline-block;
    line-height: 30%;

}

.title-section {
    font-size: 3em;
    font-weight: bold;
    line-height: 90%;
    color: rgb(87, 87, 87);
}

.projects-section {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
}

.projects-article {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}


.grid-projects {
    padding-top: 2em;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30%;
    grid-gap: 10% 15%;
    justify-content: center;

}

.project-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    height: 500px;
    border-radius: 0 0 6px 6px;
    box-sizing: border-box;

    border-radius: 5%;
}

.project-card-title {
    justify-content: center;
    padding-top: 5px;
    text-align: center;
    font-size: 1em;
    height: 2em;
    width: 100%;
    position: relative;
    background-color: #4877564a;
    border-radius: 6px 6px 0 0;
    
}

.project-cards img {
    height: auto;
    width: 100%;
    position: relative;
    background-color: red;




}