* {
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    text-decoration: none;
    outline: 0;
}

a,
a:visited {
    color: inherit;
}

html {
    background-color: #f6fff8;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
    color: rgb(87, 87, 87);
    background-color: #f6fff8;
}

.svg-mail{
    transition: .2s;
}
.svg-mail:hover{
    fill:black
}
.titlePage {
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul li {

    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.5em;;
}

nav ul li:hover {
    color: #000000;
    transition: .2s
}

.btn {
    padding: 10px 25px;
    color: white;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: transform .2s;
    font-weight: bold;
    width: auto;
}

a.btn {
    color: white;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #487756
}

.whoAmIArticle {
    width: 100%;
    padding-top: 10vh;
    height: 100vh;
    align-items: center;
}


.article-about-me {
    width: 100%;
    padding-top: 30vh;
    height: 100vh;
    align-items: center;
}

.text-title-color-primary {

    color: #a6c1ae
}


.text-color-primary {

    color: #a6c1ae;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.background-color-primary {
    background-color: #a6c1ae
}

.p-home-description {
    color: #487756;
}

/*
configure section CSS
*/

.who-am-i-section {
    margin-left: 20%;
    width: 60%;
    text-align: center;
    /*border: 2px solid black;
    border-radius: 30px;*/

    padding-top: 1em;
    padding-bottom: 1em;
    transition: transform .2s;
    font-size: 2em;
    height: auto;
    display: inline-block;
}

/*.who-am-i-section:hover {
 transform: scale(1.05);
}*/
.h2-home {
    display: inline-block;
    width: 100%;
}

.div-section-text {
    max-width: 60%;
    height: auto;
    display: inline-block;
    margin-top: 1em;

}

.div-section-image {
    max-width: 40%;
    display: inline-block;
    padding-left: 1em;

}

.left {
    float: left;
}






.whoAmISectionH2 {
    font-size: 1.2em;
    width: 100%;
    font-weight: bold;
}

.whoAmISectionH1 {
    font-size: 1.2em;
    font-weight: bold;
}


.div-section-text-home {

    width: 100%;
    font-size: 1.2em;

}

.span-h1 {
    font-size: 2em;
    display: inline-block;

}

.item-block {
    width: 10%;
    display: block;
    margin-left: 45%;
    text-align: center;

}

.img-home {

    width: auto;
    height: 10em;
    border-radius: 50%;
    display: inline-block;
}

.svg-nav-a {
    height: 2em;

    list-style-type: none;
    display: inline-block;

    font-weight: bold;
    text-transform: capitalize;
}

.svg-nav {
    margin-top: 10px;
    font-size: 1em;
    ;


}

.svg-mail:hover path{
    fill: black
}

/*

.whoAmISectionH1 {
    font-size: 1.2em;
    font-weight: bold;
    background-image: linear-gradient(0.2turn, rgb(255, 0, 0), yellow, rgb(55, 128, 0));
    background-clip: text;
    color: transparent
}


.articleContent:nth-child(even) {
    background-color: #eac895;
}

.articleContent:nth-child(odd) {
    background: #eac8959a;
}


.image-home {
    vertical-align: middle;
    border-radius: 50%;
    width: 90%;
    height: auto;
    transform: translateY(10%);
}*/